.navbar-nav{
    display: flex;
    flex-direction: row;
    display: flex;
    
}
.first_p
{
    /* color: crimson; */
    align-self: right;
    align-self: flex-end;
}
#Blog
{
    align-self: center;
}


.container{
    display: flex;
    flex-wrap:inherit;
  
}
footer{

    background-color: rgb(21, 21, 30);
    color: aliceblue;
}
footer_a:link{
    color: aliceblue;
    
}

//
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }